.c-header {
  display: flex;
  align-items: center;
  flex: none;
  height: 64px;
  padding: 0 32px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 24px;
  color: #ffffff;
  background-color: #232629;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  z-index: 999;

  > img {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
}
