@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: #f0f2f5;
  padding: 110px 0 24px;
}

.content {

  :global {
    .ant-tabs-bar {
      text-align: center;
      border-bottom: 0;
      margin-bottom: 24px;
    }

    .ant-tabs-tab {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (min-width: $screen-md-min) {
  .container {
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }
}
